/* Done  */

.spinner {
width: 14px;
height: 14px;
margin-right: 8px;
display: inline-block;
border: 2px solid #fff;
border-top: 2px solid transparent;
border-radius: 50%;
animation: spin 0.8s linear infinite;
vertical-align: middle;
}


@keyframes spin {
to { transform: rotate(360deg); }
}


.form_address {
display: flex;
justify-content: center;
align-items: center;
text-align: start;
width: 1324px;
max-width: 100%;
margin: auto;
margin-top: 4.3em;
}


.form_address .chck_bx{
margin-left: -.5em;
}


.form_address li {
font-size: 0.9rem;
}


.flex_add {
display: flex;
align-items: center;
gap: 2.7em;
margin-bottom: .9em;
margin-top: -0.3em;
line-height: 2.7em;
}

.ContID {
margin-top: 1.7em;
}


.form_address input {
width: 227px;
border-radius: 3px;
padding-bottom: 13px;
outline: none;
border: none;
border-bottom: 1px solid #808080;
}


.flex_add select {
padding: 9px;
}


.img_form {
width: 577px;
margin-left: -.7em;
}


.form_address .btn_sve {
width: 231px;
padding: 17px;
margin-top: 2.3em;
font-size: 0.9rem;
border: none;
border-radius: 0px;
color: #FFFFFF;
background-color: #bc8f8f;
cursor: pointer;
}


.flex_saveMyaddress {
margin-left: 0.4em;
margin-bottom: 1.2em;
}



@media (max-width: 768px) {

.form_address {
width: 90%;
flex-direction: column;
margin-top: 2.7em;
}

.flex_add {
width: 90%;
line-height: 3.7em;
gap: .7em;
margin: auto;
}

.flex_add h4 {
line-height: 2.1em;
margin-top: .7em;
}

.ContID {
margin-top: 1.1em;
}

.flex_saveMyaddress {
margin: 0em 0em 1.3em 0.2em;
}

.form_address .inputAddress {
width: 100%;
}

.form_address .flex_add li {
line-height: 1.3em;
}

.img_form {
width: 100%;
margin-top: 3.7em;
}

.form_address .btn_sve {
width: 95%;
margin-left: .9em;
margin-top: 3.7em;
}

.img_form {
margin-left: 0em;
width: 95%;
}

}



@media (min-width: 769px) and (max-width: 1036px) {

.form_address {
display: flex;
width: 90%;
margin-bottom: 8.7em;
}

.flex_add {
width: 95%;
margin: auto;
line-height: 3.1em;
}

.ContID {
margin-top: 0.5em;
}

.form_address .inputAddress {
margin-bottom: 0.9em;
}

.flex_add .optionSlct {
margin-top: -0.7em;
}

.flex_saveMyaddress {
margin: 0em 0em 0.9em 0.3em;
}

.form_address .inputAddress {
width: 100%;
}

.form_address .flex_add li {
line-height: 1.3em;
}

.img_form {
width: 50%;
margin-left: 1.3em;
}

.form_address .btn_sve {
width: 100%;
margin-left: 0em;
}

.flex_add h4 {
line-height: 2.1em;
margin-top: .7em;
}

}


@media (min-width: 1036px) and (max-width: 1519px) {

.flex_add {
display: flex;
width: 100%;
margin: auto;
line-height: 3.1em;
}

.ContID {
margin-top: 0.9em;
}

.flex_saveMyaddress {
margin: 0em 0em 1.4em 1.8em;
}

.form_address .inputAddress {
width: 100%;
margin-bottom: 0.5em;
}

.chck_bx {
margin-top: 0.5em;
}

.img_form {
width: 42%;
margin-right: -.7em;
}

.flex_add h4 {
line-height: 2.3em;
margin-top: .7em;
}

.form_address .flex_add li {
line-height: 1.7em;
}

.form_address .btn_sve {
width: 35%;
padding: 17px;
margin-top: 3.7em;
}

}
