/* Done  */

.TermsCondition_flx div h1 {
margin-bottom: -.6em;
}

.return_flex_ {

display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 5.7em;
margin-bottom: 5.3em;
line-height: 2.7em;

}

.return_flex_ div {
width: 65%;
}


.return_flex_ div h1 {
font-size: 1.3rem;
color: #10204f;
margin-bottom: -.2em;
}


.return_flex_ h2 {
font-size: 1.1rem;
margin-top: 1.3em;
}


.return_flex_ p {
margin-top: 0.7em;
line-height: 2.3em;
color: #808080;
}

.return_flex_tw li {
margin-top: 1.7em;
color: #808080;
}

.return_flex_tw p {
line-height: 2.3em;
text-align: justify;    
width: 65%;
margin: auto;
color: #808080;
}


.return_flex_tw h2, h3 {
margin-top: 2.3em;
font-size: 1.1rem;
color: #10204f;
}

.return_flex_tw h4 {
margin-top: 2.9em;
margin-bottom: 1.7em;
color: rgba(26, 10, 10, 0.812);
}

.return_flex_tw h2 {
margin-bottom: 1.7em;
}



@media (max-width: 1500px) {


.TermsCondition_tw {
margin-bottom: 7.7em;
}

.TermsCondition_tw p {
text-align: center
}


.TermsCondition_flx div h1 {
font-size: 1.2rem;
}

.TermsCondition_tw h2 {
font-size: 1.1rem;
line-height: 2.3em;
margin-bottom: .7em;
}


.return_flex_ {
flex-direction: column;
margin-top: 3.7em;
margin-bottom: 3.3em;
}

.return_flex_ div {
width: 85%;
}

.return_flex_tw {
margin-bottom: 9.3em;
}


.TermsCondition_flx p {
text-align: center;
}

.TermsCondition_flx h2 {
font-size: 1.1rem;
margin-top: .9em;
}

.return_flex_tw p {
width: 85%;
}

.return_flex_tw h4 {
margin-top: 2.3em;
margin-bottom: 1.3em;
}


#hFourTag {
margin-top: 2.1em;
}

.return_flex_ h1,
h2 {
text-align: center;
}

.return_flex_ div h1 {
font-size: 1.2rem;
margin-top: 1.1em;
margin-bottom: -.4em;
}

.return_flex_ div h2 {
font-size: 1rem;
text-align: center;
}

.return_flex_ img {
width: 100vw;
margin-left: 0;
}

.return_flex_ div p {
margin-top: 1.2em;
}

.return_flex_tw li {
width: 85%;
margin: auto;
line-height: 3.3em;
}

.return_flex_ p {
text-align: justify;
}

}


