/* Done */

.filters {
position: fixed;
width: 317px;
max-height: 91vh;
padding-bottom: 87px;
top: 5em;
padding: 37px;
overflow-y: auto;
text-align: start;
transition: 0.5s;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.232);
}


.filters::-webkit-scrollbar {
width: 4px;
}

.filters::-webkit-scrollbar-track {
background-color: #202434;
}

.filters::-webkit-scrollbar-thumb {
background-color: #202434;
}

.filters::-webkit-scrollbar-thumb:hover {
background-color: #555;
cursor: pointer;
}

.filters div {
margin-top: .9em;
font-weight: normal;
}

.priceContainer {
line-height: 2.1em;
}


#Product_CloseTag {
position: absolute;
margin-top: 2.9em;
width: 24px;
right: 4em;
border-radius: 13px;
cursor: pointer;
}


.filters .filterClose {
position: absolute;
font-size: 1.7rem;
right: 1.3em;
color: #202434;
cursor: pointer;
}


#div_filter {
width: 76%;
height: 54px;
margin: auto;
margin-top: 2.5em;
margin-bottom: .4em;
transform: translateX(15%);
}


#div_filter .filter_ {
position: absolute;
width: 31px;
right: 1.8em;
cursor: pointer;
}


#priceRange {
margin-top: 2.2em;
margin-bottom: 0.9em;
}


#chck_box {
margin-right: 1.1em;
}


.filters label {
display: flex;
font-size: 0.9rem;
color: rgb(110, 109, 109);
border-bottom: 1px solid rgb(231, 226, 226);
cursor: pointer;
}


.filters h4 {
font-size: 1rem;
font-weight: bold;
margin: 0.2em 0em 0.7em 0em;
color:#33353e;
}


.maxMin{
color: rgb(110, 109, 109);
}


.filters input[type="checkbox"] {
margin-right: 8px;
cursor: pointer;
}

.filters div {
margin-bottom: 16px;
}

.filters input[type="range"] {
-webkit-appearance: none;
width: 100%;
height: 4px;
outline: none;
border-radius: 5px;
transition: background 0.3s;
background-color: rgba(11, 93, 11, 0.685);
cursor: pointer;
}


.filters input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
width: 19px;
height: 19px;
background-color: #FFFFFF;
box-shadow: 0 0 2px rgba(0, 0, 0, 0.56);
border: 1px solid #DCDCDC;
border-radius: 50%;
cursor: pointer;
}


.filters input[type="range"]::-moz-range-thumb {
width: 20px;
height: 20px;
background: #ff1493;
border-radius: 50%;
cursor: pointer;
}

.filters input[type="range"]:focus {
background: #ccc;
}


.filter_ {
position: absolute;
width: 25px;
}


@media (max-width: 321px) {


#div_filter .filter_ {
width: 29px;
right: 0.7em;
}

.filters {
width: 297px;
margin-left: -110%;
z-index: 999;
padding-top: -.7em;
}


.filters_AfContainer {
margin-left: 0px;
}


#Product_CloseTag {
display: block;
position: absolute;
width: 24px;
right: 3.1em;
}

}



@media (min-width: 321px) and (max-width: 1036px) {

#div_filter .filter_ {
width: 29px;
right: 4.4vw;
margin-top: .3em;
}


.filters {
width: 297px;
margin-top: -.8em;
margin-left: -100%;
z-index: 99;
background-color: #FFFFFF;
}


.filters_AfContainer {
margin-left: 0px;
}


#Product_CloseTag {
width: 24px;
position: absolute;
display: block;
right: 3.9em;
}

}


@media (min-width: 1037px) and (max-width: 1500px) {

.filters {
width: 297px;
margin-top: -.3em;
z-index: 99;
background-color: #FFFFFF;
}    


#div_filter {
margin-bottom: -3.7em;
}


#div_filter .filter_ {
width: 29px;
right: 4.7vw;
margin-top: .7em;
}


#priceRange {
margin-top: 2.3em;
}


}
