/* Done */

.addProduct_form #addTag {
width: 157px;
height: 81px;
padding: 11px;
font-size: 1.1rem;
margin-bottom: 1.3em;
border-radius: 7px;
color: #000000;
line-height: 2.1em;
}


.Product_relative {
width: 95%;
margin: auto;
transition: all 0.3s ease;
}


.dashboard-container {
position: relative;
margin: 5.7em auto 0 17vw;
transition: all 0.3s ease;
padding: 27px;
}


.productManageTag {
font-size: 1.2rem;
margin-left: .2em;
margin-bottom: 1.1em;
text-align: start;
}


.Product_relativeConinside {
width: 95%;
}


.dashboard-containerConinside {
margin-left: 0;
}

.dashboard-container .container_upload {
background-color: #fff;
box-shadow: 0 4px 6px rgba(2, 0, 0, 0.074);
padding: 21px;
margin-top: 2.7em;
border-radius: 7px;
text-align: start;
}


.dashboard-container .container_upload h3 {
margin: 0.3em 0 0.7em;
color: #333;
}

.dashboard-container .container_upload span {
color: #FF4500;
}

.dashboard-container h4 {
margin: 0.1em 0 1em;
}

.dashboard-container h2 {
font-weight: normal;
}

.dashboard-container p {
font-size: 0.8rem;
color: #808080;
}


.dashboard-container .addProduct_form {
align-items: center;
justify-content: start;
text-align: start;
line-height: 2.7em;
padding: 21px;
border-radius: 7px;
width: 100%;
box-shadow: 0 4px 6px rgba(2, 0, 0, 0.195);
}


.dashboard-container .addProduct_form .addProductDiv {
display: flex;
gap: 2.3em;
width: 100%;
margin-bottom: .8em;
}


.dashboard-container .addProduct_form input {
padding: 11px;
outline: none;
border: 1px solid #DCDCDC;
border-radius: 13px;
margin-top: 0.5em;
}


.dashboard-container .addProduct_form .ImgAddPdct {
width: 227px;
position: absolute;
right: 7.3%;
top: 6.7em;
}


.Flx_IconPrct {
display: flex;
align-items: center;
gap: 1.1em;
}


.IconUpdatePrdct{
width: 53px;
}


.dashboard-container .addProduct_form h3 {
font-size: 1.1rem;
font-weight: normal;
margin: 0.7em 0 0.1em;
}


.dashboard-container .addProduct_form label {
font-size: 0.9rem;
line-height: 2.3em;
}


.dashboard-container .addProduct_form input:focus {
border-color: rgb(65, 105, 225);
}


.textArea_Add {
height: 137px;
padding: 11px;
outline: none;
border: 1px solid #DCDCDC;
border-radius: 13px;
margin-top: 0.5em;
}


.dashboard-container .addProduct_form button {
color: #FFFFFF;
width: 143px;
padding: 15px;
background-color: #4169E1;
border: 1px solid #808080;
margin-top: 1.5em;
border-radius: 7px;
cursor: pointer;
transition: background-color 0.3s ease;
}


.dashboard-container .addProduct_form button:hover {
background-color: #483d8b;
}


.dashboard-container .upload_container {
display: flex;
justify-content: center;
border: 2px dotted rgba(0, 0, 0, 0.205);
border-radius: 4px;
padding: 33px;
padding-bottom: 57px;
text-align: center;
}


.upload_container .upload-box {
display: flex;
flex-direction: column;
align-items: center;
width: 100%; 
}


.upload_container .upload-box .browse-btn {
display: block;
width: 95%; 
margin-bottom: -1.7em;
}


.dashboard-container .upload_container .upload-box img {
width: 67px;
margin: 0.7em 0 0.2em;
}

.dashboard-container .upload_container .upload-box p {
margin-right: 1.3em;
margin-top: .7em;
margin-bottom: .7em;
}

.dashboard-container .upload_container .browse-btn {
background-color: #fff;
border: none;
cursor: pointer;
margin-top: 1.3em;
line-height: 2.1em;
transition: color 0.3s ease;
}

.dashboard-container .upload_container .browse-btn:hover {
color: #6A5ACD;
}


.upload_container .up_ph4 {
margin-top: .7em;
color: #808080;
}


#descr_lable {
margin-top: .8em;
}



@media (max-width: 768px) {


.dashboard-container .addProduct_form{
width: 100%;
height: auto;
}


.dashboard-container .addProduct_form input {
width: 100%;
}


.dashboard-container .addProduct_form .addProductDiv {
display: flex;
flex-direction: column;
width: 100%;
gap: 0em;
margin-bottom: .3em;
}


.dashboard-container .addProduct_form .IconUpdatePrdct {
margin-left: 4.3%;
position: relative;
}


.dashboard-container .addProduct_form .ImgAddPdct {
position: relative;
top: 1.3em;
right: 0;
}


.dashboard-container .addProduct_form button {
width: 100%;
padding: 13px;
}


.dashboard-container .upload_container {
padding: 11px;
padding-bottom: 53px;
}


.upload_container span {
font-size: 1.1rem;
line-height: 1.9em;
}


.dashboard-container {
padding: 7px;
margin: 4.7em auto 0 0;
box-sizing: border-box;  
width: 100%; 
}


.dashboard-container .addProduct_form label {
margin-bottom: 0em;
margin-top: .3em;
}

}



@media (min-width: 769px) and (max-width: 992px) {


.dashboard-container .addProduct_form .addProductDiv {
display: flex;
flex-direction: column;
gap: .5em;
margin-bottom: .8em;
}


.dashboard-container .addProduct_form input {
height: 37px;
width: 23vw;
}

.addProduct_form #addTag  {
font-size: 1rem;
}

.Product_relative {
width: 97%;
}

.dashboard-container {
padding: 27px;
margin-top: 5.3em;
margin-left: 36vw;
}

.Product_relativeConinside {
width: 100%;
}

.dashboard-containerConinside {
margin-left: 0;
}

}



@media (min-width: 992px) and (max-width: 1245px) {


.dashboard-container .addProduct_form .addProductDiv {
display: flex;
flex-direction: column;
gap: .6em;
margin-bottom: .8em;
}


.dashboard-container .addProduct_form img {
margin-right: .3%;
margin-top: 2.3%;
}


.dashboard-container .addProduct_form input {
height: 37px;
width: 34vw;
}


.addProduct_form .flex_addproducts label {
line-height: 2.1em;
}


.Product_relative {
width: 100%;
}

.dashboard-container {
margin-left: 30vw;
}

.Product_relativeConinside {
width: 100%;
}

.dashboard-containerConinside {
margin-left: 0;
}


}



@media (min-width: 1245px) and (max-width: 1519px) {


.dashboard-container .addProduct_form .addProductDiv {
display: flex;
gap: 1.3em;
width: 65%;
margin-bottom: .8em;
}


.dashboard-container .addProduct_form img {
width: 247px;
}


.dashboard-container .addProduct_form input {
height: 37px;
width: 147px;
}


.Product_relative {
width: 100%;
}

.dashboard-container {
margin-left: 24vw;
}

.Product_relativeConinside {
width: 100%;
}

.dashboard-containerConinside {
margin-left: 0;
}

}