/* DOne */

.Parent_relativeCustItem {
width: 90%;
margin: 4.7em auto 0 auto;
transition: 0.3s ease;
}

.custorders-headerItem {
text-align: start;
}

.relative_Custorders_inside {
width: 95%;
margin: 5.7em auto 0 auto;
}


.relative_CustordersItem {
overflow-x: auto;
width: 100%;
}

.relative_CustordersItem::-webkit-scrollbar {
height: 5px;
}


.relative_CustordersItem::-webkit-scrollbar-thumb {
background-color: #ccc;
border-radius: 10px;
}


.relative_CustordersItem::-webkit-scrollbar-track {
background-color: #f1f1f1;
}

.custorders-containerItem h3 {
margin-bottom: 1.7em;
}

.relative_CustordersItem table {
width: 100%;
border-collapse: collapse;
}

.relative_CustordersItems .custorders-containerItem tr {
font-size: 0.9rem;
}

.relative_CustordersItem img {
width: 47px;
height: auto;
object-fit: cover;
border-radius: 5px;
}

.relative_CustordersItem th {
line-height: 1.8em;
}

.relative_CustordersItem th,
.relative_CustordersItem td {
padding: 0.5em 1em;
border-bottom: 1px solid rgb(220, 220, 220);
text-align: start;
font-weight: normal;
font-size: 0.9rem;
}

.relative_CustordersItem td {
color: rgb(128, 128, 128);
line-height: 2.1em;
}


.custorders-tableItem .OrderhistoryTd{
color: rgb(65, 105, 225);
}

.custorders-tableItem thead {
background-color: #f5f4f4;
}


.name_tdItem{
color: #000000;
width: 197px;
min-width: 197px;
max-width: 197px;
height: auto;
word-break: break-all;
white-space: normal;
}

